<section class="double-images">
    <div class="container">
        <div class="image-container left">
            <img src="{{content.image_left.url}}" alt="{{content.image_left.alt}}">
        </div>
        <div class="image-container right">
            <img src="{{content.image_right.url}}" alt="{{content.image_right.alt}}">
        </div>
    </div>
</section>