{% extends site.tplReference %}

{% block main %}
    <div class="page-menu main-content">
        <section class="menu">
            <div class="menu-slider">
                <div class="js_frame">
                    <ul class="js_slides">
                        {% for item in home_menu.get_items %}
                            <li class="js_slide">
                                <a data-type="page-transition-menu" href="{{item.url}}">
                                    <h2 class="title-menu">{{item.title}}</h2>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="dots">
                    {% for item in home_menu.get_items %}
                        <li></li>
                    {% endfor %}
                </ul>
                <div class="js_prev prev">
                    {% include 'custom/icons/arrow-menu-home.twig' %}
                </div>

                <div class="js_next next">
                    {% include 'custom/icons/arrow-menu-home.twig' %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}