{% if menu %}
	<ul{% if class is defined and class.parent is defined %} class='{{ class.parent|join(" ") }}'{% endif %}>
	{% set shopId = fn("get_option", "woocommerce_shop_page_id") %}
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}{% if class is defined and class.children is defined %} {{ class.children|join(" ") }}{% endif %}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "core/menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
