.page-article {
    .left, .right {
        box-sizing: border-box;
    }

    .left {
        padding-right: 30px;
    }

    .right {
        padding-left: 30px;
    }

    .wrapper-layout section:last-child {
        margin-bottom: 0;
    }

    .technical-informations {
        margin-bottom: 50px;

        .container {
            display: block;
        }

        p {
            font-weight: 100;
            color: #4A4A4A;
        }
    }

    .container {
        display: flex;
    }

    @media screen and (max-width: 768px) {
        .left {
            padding-right: 5px;
        }

        .right {
            padding-left: 5px;
        }
    }
}

.page-article section.header {
    .date {
        font-size: em(20);
        font-weight: 300;
        color: $grey;
        text-transform: uppercase;
    }

    .bg {
        height: 400px;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .header-top {
        padding-top: 250px;
        padding-bottom: 50px;

        .container {
            align-items: flex-end;
            justify-content: flex-end;
            flex-direction: column;
            text-align: right;
        }

        .text-container {
            width: 50%;
        }
    }

    .header-bottom {
        .container {
            margin-top: 100px;
        }

        .left {
            width: 50%;

            .image-container {
                position: relative;
                height: 100%;

                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    max-width: 100%;
                }
            }
        }

        .text-container {
            max-width: 41.65%;
            margin-left: 8.3333%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    @media screen and (max-width: 768px) {
        .header-top {
            padding-top: 100px;
            padding-bottom: 0px;

            .text-container {
                width: 100%;
            }
        }

        .header-bottom {
            .container {
                margin-top: 50px;
                flex-direction: column;
            }

            .left {
                width: 100%;
                padding: 0;

                .image-container {
                    text-align: center;

                    img {
                        position: static;
                        width: 100%;
                    }
                }
            }

            .text-container {
                max-width: 100%;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.page-article section.double-images, .page-article section.image-paragraph-color,
section.single-image-paragraph, section.one-big-image-double-small-image-paragraph {
    margin: 100px 0;

    @media screen and (max-width: 768px) {
        margin: 50px 0;
    }
}

.page-article section.double-images {
    .image-container {
        max-width: 50%;

        img {
            max-width: 100%;
        }
    }
}

.page-article section.image-paragraph-color {
    position: relative;

    .bg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 65%;
        z-index: -1;
    }

    .image-container {
        max-width: 50%;

        img {
            max-width: 100%;
        }
    }

    .text-container {
        max-width: 41.65%;
        margin-left: 8.3333%;
    }

    .container {
        width: 85%;
        max-width: 1600px;
        align-items: center;

        &.image-right {
            .image-container {
                order: 1;
            }

            .text-container {
                order: 0;
                margin-left: 0;
                margin-right: 8.3333%;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .bg {
            display: none;
        }

        .container {
            width: 80%;
            flex-direction: column;

            &.image-right {
                .image-container {
                    order: 0;
                }
            }
        }

        .image-container, .text-container {
            max-width: 100%;
            margin: 0;
        }
    }
}

.page-article section.single-image-paragraph {
    .container {
        align-items: center;
        flex-direction: column;
    }

    .image-container {
        text-align: center;
        max-width: 50%;

        img {
            max-width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        .image-container {
            max-width: 100%;
        }
    }
}

.page-article section.one-big-image-double-small-image-paragraph {
    img {
        max-width: 100%;
    }

    .image-container-big {
        max-width: 41.65%;
        margin-right: 8.3333%;
    }

    .right {
        max-width: 50%;
        display: flex;
        flex-direction: column;

        .image-container-small {
            display: flex;
            align-items: center;

            img {
                box-sizing: border-box;
                padding: 10px;
                max-width: 50%;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            flex-direction: column;
        }

        .image-container-big {
            max-width: 100%;
            margin-right: 0;
        }

        .right {
            max-width: 100%;

            .image-container-small img {
                padding: 2px;
            }
        }
    }
}

.page-article section.discover {
    background: white;
}
