.menu-slider {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: aqua;
    overflow: hidden;
    transition: 0.5s;

    .dots {
        display: flex;
        left: 50%;
        transform: translateX(-50%);

        li {
            cursor: pointer;
            display: block;
            border-radius: 100px;
            border: solid 2px $brown;
            background: transparent;
            transition: 0.3s ease-out;
            width: 10px;
            height: 10px;
            margin: 0 70px;

            &.active {
                transition: 0.3s ease-in;
                background: $brown;
            }
        }
    }

    .next, .prev, .dots {
        position: absolute;
        bottom: 100px;
    }

    .prev, .next {
        width: 20px;
        cursor: pointer;
    }

    .prev {
        left: 5%;
        transform: rotate(180deg);
    }

    .next {
        right: 5%;
    }

    .js_frame {
        width: 880px;
        height: 600px;
        position: relative;
        font-size: 0;
        line-height: 0;
        overflow: visible;
        margin: 0 auto;
        white-space: nowrap;
    }

    .js_slides {
        // height: 100%;
        display: inline-block;
    }

    .js_slide {
        position: relative;
        display: inline-block;
        width: 880px;
        text-align: center;
        font-size: 16px;
        height: 600px;
        color: white;
        background: skyblue;
        margin: 0 50px;
        transition: 0.5s;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: red;
            text-decoration: none;
            position: relative;

            h2 {
                line-height: initial;
                width: 100%;
                position: absolute;
                top: -9%;
                text-align: center;
            }
        }

        &:hover {
            transform: translateX(20px);
            transition: 0.5s;
        }

        &.active ~ .js_slide {
            &:hover {
                transform: translateX(-20px);
            }
        }

        &.active {
            &:hover {
                transform: none;
            }
        }
    }
}

.menu-slider.noTransitionChild {
    // background: black !important;
    .js_slide {
        transition: none;

        &:hover {
            transition: none;
        }
    }
}
