section.para-image {
    .container {
        display: flex;
        align-items: center;
    }

    .text-container {
        max-width: 41.67%;
        margin-right: 8.3333%;
    }

    .image-container {
        max-width: 50%;

        img {
            max-width: 100%;
        }
    }
}