{% extends site.tplReference %}

{% block htmlHead %}
    <style>

        .body-color {
            background: {{content.body_color}};
        }

        .header-color {
            background: {{content.header.background_color}};
        }

        .title-color {
            color: {{content.header.title_color}};
        }
            
    </style>
{% endblock %}

{% block extraBodyClass %}
    body-color{% endblock %}

{% block main %}
    <div class="page-article main-content">
        <section class="header">
            <div class="bg header-color"></div>
            <div class="header-top">
                <div class="container">
                    <div class="text-container">
                        <h1 class="title-article title-color">{{content.title}}</h1>
                        <span class="date">{{content.header.date}}</span>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div class="left">
                        <div class="image-container">
                            <img id="mainImage" src="{{content.header.main_image.url}}" alt="{{content.header.main_image.alt}}">
                        </div>
                    </div>
                    <div class="text-container right">
                        {{content.header.paragraph|wpautop}}
                    </div>
                </div>
            </div>
        </section>

        <div class="wrapper-layout">
            {% for section in content.layout %}
                {% if section.acf_fc_layout == "double_images" %}
                    {% include "custom/pages/fragments/double-images.twig" with { content : section } %}
                {% elseif section.acf_fc_layout == "image_paragraph_color" %}
                    {% include "custom/pages/fragments/image-paragraph-color.twig" with { content : section } %}
                {% elseif section.acf_fc_layout == "single_image_paragraph" %}
                    {% include "custom/pages/fragments/single-image-paragraph.twig" with { content : section } %}
                {% elseif section.acf_fc_layout == "one_big_image_double_small_image_paragraph" %}
                    {% include "custom/pages/fragments/one-big-image-double-small-image-paragraph.twig" with { content : section } %}
                {% endif %}
            {% endfor %}
        </div>

        <section class="technical-informations">
            <div class="container">
                {{content.technical_informations|wpautop}}
            </div>
        </section>

        <section class="discover">
            <div class="container">
                <div class="image-container">
                    <img src="" alt="">
                </div>
                <div class="text-container">
                    <h2 class="title-next-article"></h2>
                    <span class="date"></span>
                    <a href="#">Discover</a>
                </div>
            </div>
        </section>

    </div>
{% endblock %}